:host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
  
     
}

.sign-in-form {
    min-width: 300px;
    background-color:black;
    opacity: .93;
    padding: 20px;
}

a {
    line-height: 32px;
    color: red;
}
button {
    float: right;
}

.message {
    float: right;
}