
  
  <section id="body" class="container">
       <div class="col-md-8">
      <h1>Comments</h1>
            <div class="row">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="nameInput" class="control-label col-md-2">Comments</label>
            <div class="col-md-4">
              <input type="text" name="nameInput" class="form-control" placeholder="" />
            </div>
          </div>
        </form>
      </div>
      <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
              <input type="submit" value="Submit" class="btn btn-success" />
            </div>
      </div>
       </div>
      <h3>Address</h3>
      <div>
        <address>
          Dilin Dinesan
          <br />Kuwait
          <abbr title="Phone">P:</abbr>
         +965-97616239
        </address>
        <address>
          <strong>Support :</strong> <a href="techdd1212@gmail.com">techdd1212@gmail.com</a>
          <br />
        </address>
      </div>
      </section>
      <div id="footer"  class="container">
 <div class="col-md-12">
 <p>Follow techmobiles @ <a href="https://www.linkedin.com/in/dilin-dinesan-a1962947/">TechMobiles</a></p>
 </div></div>

