
 <section id="body" class="container">
     <div class="row">
          <div class="col-md-12">
      <div class="textsamsung"> 
          <h2>Samsung</h2> <img src="assets/samsung.jpg" alt="Responsive image" style="width:40%" class="image" />
              <h1>Samsung</h1>
              <p>Like the iPhone 7, the iPhone 8 is expected to be water resistant, but it may have an improved IP68 water resistance rating. 
                  It will continue to be able to hold up to rain, splashes, and brief submersion in water, and that water resistance has been
                   confirmed by an Apple supplier and may extend to all iPhone models being released in 2017.</p>
              <button class="btn btn-success">Read More</button>
          </div></div></div>
       </section>
       <section id="body" class="container-fluid">
        <div class="col-md-push-right-6">
      <h1 class="bold">Samsung Tablets</h1> <img src="assets/samsungtablets.jpg"alt="Responsive image" style="width:40%" class="image" />
     
      <div class="textsamtablet"> 
              <h1>Samsung Tablets</h1>
              <p>Like the iPhone 7, the iPhone 8 is expected to be water resistant, but it may have an improved IP68 water resistance rating. 
                  It will continue to be able to hold up to rain, splashes, and brief submersion in water, and that water resistance has been
                   confirmed by an Apple supplier and may extend to all iPhone models being released in 2017.</p>
              <button class="btn btn-success">Read More</button>
          </div>
        </div>
       </section>









